# Managed by Ansible.
maxretry = 3
pollinterval = 2

[server-room-rack]
  driver = "usbhid-ups"
  port = "auto"
  vendorid = "0764"
  productid = "0601"
  desc = "PowerWalker VI 750 R1U"
  allow_killpower = 1
  override.battery.runtime.low = {{ nut_battery_runtime_low }}
  override.battery.charge.low = {{ nut_battery_charge_low }}
