---
# yaml-language-server: $schema=https://schemas.ajgon.casa/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: vault-secret
  namespace: external-secrets
stringData:
  token: "{{ ENV.VAULT_TOKEN }}"
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: "{{ ENV.CLOUDFLARE_TUNNEL_ID }}"
  ROOT_DOMAIN: "{{ ENV.ROOT_DOMAIN }}"

# vim:ft=yaml
