---
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.34.2/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: vault-secret
  namespace: external-secrets
stringData:
  token: "{{ ENV.VAULT_TOKEN }}"

# vim:ft=yaml
