---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
version: v1alpha1

machine:
  network:
    hostname: he-man
  type: controlplane

  install:
    disk: /dev/sda

# vim:ft=yaml
