---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
version: v1alpha1
machine:
  ca:
    crt: '{{ ENV[".machine.ca.crt"] }}'
    # {% if ENV.IS_CONTROLPLANE %}
    key: '{{ ENV[".machine.ca.key"] }}'
    # {% endif %}

  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: false
      resolveMemberNames: true
    kubePrism:
      enabled: true
      port: 7445
    # {% if ENV.IS_CONTROLPLANE %}
    kubernetesTalosAPIAccess:
      allowedKubernetesNamespaces:
        - actions-runner-system
        - system-upgrade
      allowedRoles:
        - "os:admin"
      enabled: true
    # {% endif %}

    rbac: true
  files:
    # Spegel
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        [plugins."io.containerd.cri.v1.runtime"]
          cdi_spec_dirs = ["/var/cdi/static", "/var/cdi/dynamic"]
          device_ownership_from_security_context = true
    # NFS
    - op: overwrite
      path: /etc/nfsmount.conf
      permissions: 0o644
      content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.2
        hard=True
        nconnect=16
        noatime=True
  install:
    diskSelector:
      model: "WD Blue SN570 500GB"
    image: talos.ajgon.casa/installer-secureboot/4f7de4c4221bd9dde2b558a9655463c23b2173115f2df8d7f84d85af5da14a09:v1.12.4
    wipe: true
  kernel:
    modules:
      - name: nbd
      - name: thunderbolt
      - name: thunderbolt_net
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraConfig:
      featureGates:
        UserNamespacesSupport: true
      serializeImagePulls: false
    image: "ghcr.io/siderolabs/kubelet:v1.35.0"
    nodeIP:
      validSubnets:
        - 192.168.42.0/26
  nodeLabels:
    node.kubernetes.io/gpu: "true"
    topology.kubernetes.io/region: homelab
    topology.kubernetes.io/zone: deedee
  registries:
    mirrors:
      docker.io:
        endpoints:
          - http://nas.internal:5000
      codeberg.org:
        endpoints:
          - http://nas.internal:5001
      ghcr.io:
        endpoints:
          - http://nas.internal:5002
      gsoci.azurecr.io:
        endpoints:
          - http://nas.internal:5003
      mirror.gcr.io:
        endpoints:
          - http://nas.internal:5004
      quay.io:
        endpoints:
          - http://nas.internal:5005
      registry.k8s.io:
        endpoints:
          - http://nas.internal:5006
  sysctls:
    fs.inotify.max_user_instances: "8192" # More inotify events
    fs.inotify.max_user_watches: "1048576" # More inotify events
    net.core.default_qdisc: fq # Enable pacing and fair queueing for smoother flow control
    net.core.rmem_max: "67108864" # Cloudflared / QUIC
    net.core.wmem_max: "67108864" # Cloudflared / QUIC
    net.ipv4.neigh.default.gc_thresh1: "4096" # ARP neighbor GC thresholds
    net.ipv4.neigh.default.gc_thresh2: "8192" # ARP neighbor GC thresholds
    net.ipv4.neigh.default.gc_thresh3: "16384" # ARP neighbor GC thresholds
    net.ipv4.ping_group_range: "0 2147483647" # allow unprivileged PINGs
    net.ipv4.tcp_congestion_control: bbr # Use BBR congestion control for fast, low-latency delivery
    net.ipv4.tcp_fastopen: "3" # Send and accept data in the opening SYN packet
    net.ipv4.tcp_mtu_probing: "1" # Enable MTU probing in case of ICMP blackholes
    net.ipv4.tcp_slow_start_after_idle: "0" # Handle traffic bursts better
    net.ipv4.tcp_window_scaling: "1" # Enable TCP window scaling to go beyond 64KB receive windows
    # net.ipv6.conf.all.disable_ipv6: "1" # Not used, causes lot of headaches
    sunrpc.tcp_max_slot_table_entries: "128" # Faster NFS
    sunrpc.tcp_slot_table_entries: "128" # Faster NFS
    user.max_user_namespaces: "11255" # User Namespaces
    vm.nr_hugepages: "1024" # PostgreSQL

    # net.ipv4.tcp_rmem: 4096 87380 8388608  # Conservative receive buffer tuning (min, default, max in bytes)
    # net.ipv4.tcp_wmem: 4096 65536 8388608  # Conservative send buffer tuning (min, default, max in bytes)
    net.ipv4.tcp_rmem: 4096 87380 33554432 # Performant receive buffer tuning (min, default, max in bytes)
    net.ipv4.tcp_wmem: 4096 65536 33554432 # Performant send buffer tuning (min, default, max in bytes)

  systemDiskEncryption:
    state:
      provider: luks2
      keys:
        - slot: 0
          tpm: {}
    ephemeral:
      provider: luks2
      keys:
        - slot: 0
          tpm: {}

  token: '{{ ENV[".machine.token"] }}'
  udev:
    rules:
      # Intel GPU
      - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
      # Thunderbolt - Disable Power Management
      - ACTION=="add", SUBSYSTEM=="thunderbolt", ATTR{power/control}="on"
      # Thunderbolt - Ensure proper cooperation with kexec
      - ACTION=="add", SUBSYSTEM=="thunderbolt", ATTR{authorized}=="0", ATTR{authorized}="1"

cluster:
  ca:
    crt: '{{ ENV[".cluster.ca.crt"] }}'
    # {% if ENV.IS_CONTROLPLANE %}
    key: '{{ ENV[".cluster.ca.key"] }}'
    # {% endif %}

  clusterName: deedee
  controlPlane:
    endpoint: https://deedee.internal:6443
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: true
      service:
        disabled: false
  id: '{{ ENV[".cluster.id"] }}'
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 172.30.0.0/16
    serviceSubnets:
      - 172.31.0.0/16
  secret: '{{ ENV[".cluster.secret"] }}'
  token: '{{ ENV[".cluster.token"] }}'

  # {% if ENV.IS_CONTROLPLANE %}
  aggregatorCA:
    crt: '{{ ENV[".cluster.aggregatorCA.crt"] }}'
    key: '{{ ENV[".cluster.aggregatorCA.key"] }}'
  allowSchedulingOnControlPlanes: true
  apiServer:
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
    admissionControl:
      - name: PodSecurity
        configuration:
          apiVersion: pod-security.admission.config.k8s.io/v1alpha1
          defaults:
            audit: restricted
            audit-version: latest
            enforce: baseline
            enforce-version: latest
            warn: restricted
            warn-version: latest
          exemptions:
            namespaces:
              - kube-system
            runtimeClasses: []
            usernames: []
          kind: PodSecurityConfiguration
    certSANs:
      - deedee.internal
    disablePodSecurityPolicy: true
    extraArgs:
      enable-aggregator-routing: "true" # mandatory without kube-proxy
      feature-gates: MutatingAdmissionPolicy=true
      runtime-config: admissionregistration.k8s.io/v1beta1=true
    image: registry.k8s.io/kube-apiserver:v1.35.0
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
    image: registry.k8s.io/kube-controller-manager:v1.35.0
  coreDNS:
    disabled: true
  etcd:
    advertisedSubnets:
      - 192.168.42.0/26
    ca:
      crt: '{{ ENV[".cluster.etcd.ca.crt"] }}'
      key: '{{ ENV[".cluster.etcd.ca.key"] }}'
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381

      # do not wake up CPU so often
      heartbeat-interval: "500"
      election-timeout: "5000"
  proxy:
    disabled: true
    image: registry.k8s.io/kube-proxy:v1.35.0
  scheduler:
    config:
      apiVersion: kubescheduler.config.k8s.io/v1
      kind: KubeSchedulerConfiguration
      profiles:
        - schedulerName: default-scheduler
          plugins:
            score:
              disabled:
                - name: ImageLocality
          pluginConfig:
            - name: PodTopologySpread
              args:
                defaultingType: List
                defaultConstraints:
                  - maxSkew: 1
                    topologyKey: kubernetes.io/hostname
                    whenUnsatisfiable: ScheduleAnyway
    extraArgs:
      bind-address: 0.0.0.0
    image: registry.k8s.io/kube-scheduler:v1.35.0
  secretboxEncryptionSecret: '{{ ENV[".cluster.secretboxEncryptionSecret"] }}'
  serviceAccount:
    key: '{{ ENV[".cluster.serviceAccount.key"] }}'
    # {% endif %}
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  minSize: 128GB
  maxSize: 128GB
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: UserVolumeConfig
name: rook-ceph
provisioning:
  diskSelector:
    match: system_disk
  minSize: 1GB
  maxSize: 1GB
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: UserVolumeConfig
name: extra
provisioning:
  diskSelector:
    match: system_disk
  minSize: 1GB
  grow: true
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: TrustedRootsConfig
name: homelab-ca
certificates: |
  -----BEGIN CERTIFICATE-----
  MIICozCCAiigAwIBAgIUEYDoGF/r2MGE9j4HkcxKnoAvo1kwCgYIKoZIzj0EAwIw
  fzELMAkGA1UEBhMCUEwxFDASBgNVBAgMC21hbG9wb2xza2llMQ8wDQYDVQQHDAZL
  cmFrb3cxEDAOBgNVBAoMB2hvbWVsYWIxFjAUBgNVBAMMDXJvb3QgQ0EgRUMzODQx
  HzAdBgkqhkiG9w0BCQEWEGlnb3JAcnplZ29ja2kucGwwIBcNMjUxMTI1MTA0MzQ5
  WhgPMjEyNTExMDExMDQzNDlaMH8xCzAJBgNVBAYTAlBMMRQwEgYDVQQIDAttYWxv
  cG9sc2tpZTEPMA0GA1UEBwwGS3Jha293MRAwDgYDVQQKDAdob21lbGFiMRYwFAYD
  VQQDDA1yb290IENBIEVDMzg0MR8wHQYJKoZIhvcNAQkBFhBpZ29yQHJ6ZWdvY2tp
  LnBsMHYwEAYHKoZIzj0CAQYFK4EEACIDYgAEVCBJ7awshmBTEiyKg5klvzYQXvXB
  6R5659lLboN5p4HKcK5RLNncgdVhFueA9Bpk4/ezhVSy3dD4amFkZ3R0IG7W0WW/
  Yut3zEQW8pFT//v/V17Miunlhjig4HLUQ8OPo2MwYTAdBgNVHQ4EFgQUdT6x/6VR
  T7N5G5emFOarZ/zjaJ0wHwYDVR0jBBgwFoAUdT6x/6VRT7N5G5emFOarZ/zjaJ0w
  DwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAQYwCgYIKoZIzj0EAwIDaQAw
  ZgIxALKhXmYw4HyJTGIU0wkAZUdhPF6EEpaLByhgnrf68EqAb4H8g1zi3WZ7UPBL
  lIJT/AIxAN3dzdIbYAfb9c4p7lXqBmWY9Ft7+hTwf/kJw5Br1gJc21r3sD6HAjLy
  cLErk23hVg==
  -----END CERTIFICATE-----
  -----BEGIN CERTIFICATE-----
  MIIF9zCCA9+gAwIBAgIUBHN5LEVY7mrnnnwPZh92x5+7vVUwDQYJKoZIhvcNAQEL
  BQAwgYExCzAJBgNVBAYTAlBMMRQwEgYDVQQIDAttYWxvcG9sc2tpZTEPMA0GA1UE
  BwwGS3Jha293MRAwDgYDVQQKDAdob21lbGFiMRgwFgYDVQQDDA9yb290IENBIFJT
  QTQwOTYxHzAdBgkqhkiG9w0BCQEWEGlnb3JAcnplZ29ja2kucGwwIBcNMjUxMTI1
  MTA0OTAxWhgPMjEyNTExMDExMDQ5MDFaMIGBMQswCQYDVQQGEwJQTDEUMBIGA1UE
  CAwLbWFsb3BvbHNraWUxDzANBgNVBAcMBktyYWtvdzEQMA4GA1UECgwHaG9tZWxh
  YjEYMBYGA1UEAwwPcm9vdCBDQSBSU0E0MDk2MR8wHQYJKoZIhvcNAQkBFhBpZ29y
  QHJ6ZWdvY2tpLnBsMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAnvLS
  BEuieqBlwqScM6UZEaLBWj5dHzFFDQDRPzo501fuB+oU0JhUFT0Sb2+7JifoymAX
  P+9E9QVrjW9SWkM8zXscf92cdtz8kXttr4xhlTKZWgwefnuiEuLnGg/OYtwbW8jI
  l9NQPn3aWVlDRsd7MxK1bnVysR0EbUwH7zhZryzyr+sN7aTID+ZqEP3hBwjjs1fm
  62nOPPTNS2ODvmwN8Y945wYiZhb876Io5JhhgAhWwipsly7JK+rDLnhRCvqcjaov
  hnR8Vo0ZALrEeVYtrQ03lxLoc/AuyvoRbzmlfqrmfhNfz7uPHArry3Eqdc9RGdOY
  9KTMqBDIfecScPBDUp/XK06IpFJiahIkXXAjbJ0PewM2/ypr1Mnn6nuoBQFm45nL
  LiP6/yQOcLtaw2q66WLNd2uSftD6JwXzGOuw2L9E0cM9ici8eUxQsSlXOqZrVDBo
  Fc1JuOkeK6GGE+n0/lpveQPPO8fSf/0KlCMkn8ran/ueEtidydcYjLMUYCbAuQt3
  HCCOGeiluX0IzyU6Gse0PMEQzrBvJ5Id+RssQ6utpg91xXUnzSUfr9G98WgKE7F6
  njR17DG8MjsU16fu2PdF3HbQA18TV6LmguoW06tzkCvFPH85TSNL20PT0ZKZD2/z
  9Qf8S6jgoUrK/AeoV4uj75ZJ7yakSzeTbK78s6cCAwEAAaNjMGEwHQYDVR0OBBYE
  FAcyaRqn7kPR6ISTU/r4jYh/ytR4MB8GA1UdIwQYMBaAFAcyaRqn7kPR6ISTU/r4
  jYh/ytR4MA8GA1UdEwEB/wQFMAMBAf8wDgYDVR0PAQH/BAQDAgEGMA0GCSqGSIb3
  DQEBCwUAA4ICAQALr8cwzIQ65cG6wwFHKJ+J96WTAd0Fdj57aQrNLzZ7kyNQ2xTE
  yi8pHAkPr3ZTZRQkldoheZR+vPSDod/W/fUAADUDXjh+I/vle3+472dnh/08+EJK
  4GMvDjej/MG0eAj+1ZNDa4utdzrZz3ZdblFo5yhwxvirExIK+I0cRuH1EpztfE6R
  qPOZm2CJ9NTcGt6wJqJ6/BTH1vlptGcHFSptQGM8OaKbNWvtZzYxeC0T9DEMggJ1
  QcfSfohgq2WA+CmeHQA0XERlEs719nD9Aotbo89HoSeX7tytvgbqn0HQcOrCM4iZ
  XlFUxr6eUi4JMnYt2Oa1tRcS3SgGzj+TfG34mLYeCdgHei92W/LoXQZtOcua46vR
  bl49YVqH9XIRT9CDMjMbs9Z2PjXcb8/K5qQtfASV1YIBwgxrh8kVbmDzdX6kFSg3
  6yZPG44t0r3SHWJXeMKwCVgpigYy9swCvkO2gSDQlkS2oJb29jfbUH0+HRRYkjZ/
  8NlQUuiR0HcRxGOr9XbdZGKGRnheVWWUzHlEJx+GbNymV4ah0eCUBBhZu2iw3vND
  BO5tJL4uoRZ/0L+F5Xrjy6gHxZRPwb5rQ1y8u0gBZxHecB5ryyuzU/pS4VS1It5d
  UVouW8FWN/0O8niGaUA+I0ZL1lBnuIlh/Qek7l09kktk6MKBp4Q7ZhWdZg==
  -----END CERTIFICATE-----
# main interface for k8s
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: LinkAliasConfig
name: cluster
selector:
  match: glob("48:21:0b:51:*", mac(link.permanent_addr))
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - cluster
bondMode: active-backup
mtu: 9000
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
clientIdentifier: mac
# secondary interface for VLANs
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: LinkAliasConfig
name: multus
selector:
  match: glob("48:21:0b:76:*", mac(link.permanent_addr))
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: BondConfig
name: bond1
links:
  - multus
bondMode: active-backup
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: VLANConfig
name: bond1.69
up: true
vlanID: 69
parent: multus

# vim:ft=yaml
