# Managed by Ansible.
UPS_CASCADE_UPS={{ ups_cascade_ups }}

UPS_CASCADE_POLL_INTERVAL={{ ups_cascade_poll_interval }}
UPS_CASCADE_RIDE_THROUGH={{ ups_cascade_ride_through }}
UPS_CASCADE_OL_STABLE={{ ups_cascade_ol_stable }}
UPS_CASCADE_TALOS_DEADLINE={{ ups_cascade_talos_deadline }}
UPS_CASCADE_NODES_DOWN_DEADLINE={{ ups_cascade_nodes_down_deadline }}
UPS_CASCADE_NAS_DEADLINE={{ ups_cascade_nas_deadline }}
UPS_CASCADE_ABORT_COOLDOWN={{ ups_cascade_abort_cooldown }}
UPS_CASCADE_RECOVER_DEADLINE={{ ups_cascade_recover_deadline }}
UPS_CASCADE_FSD_CHARGE={{ ups_cascade_fsd_charge }}
UPS_CASCADE_DRY_RUN={{ '1' if ups_cascade_dry_run else '0' }}

UPS_CASCADE_NODES={% for node in ups_cascade_nodes %}{{ node.name }}={{ node.addr }}{{ "," if not loop.last }}{% endfor %}

UPS_CASCADE_NAS_HOST={{ ups_cascade_nas_host }}
UPS_CASCADE_NAS_USER={{ ups_cascade_nas_user }}
UPS_CASCADE_NAS_SHUTDOWN_CMD={{ ups_cascade_nas_shutdown_cmd }}

CLUSTER={{ ups_cascade_cluster }}
UPS_DRAIN_TIMEOUT={{ ups_cascade_ups_drain_timeout }}
UPS_MOUNT_TIMEOUT={{ ups_cascade_ups_mount_timeout }}
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
