---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
version: v1alpha1

machine:
  network:
    hostname: bubbles
    interfaces:
      - deviceSelector:
          busPath: 0-* # blossom
          driver: thunderbolt-net
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.42.22/32
        routes:
          - network: 169.254.42.21/32
            metric: 2048
      - deviceSelector:
          busPath: 1-* # buttercup
          driver: thunderbolt-net
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.42.22/32
        routes:
          - network: 169.254.42.23/32
            metric: 2048
  type: controlplane
  # vim:ft=yaml
