---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
version: v1alpha1

machine:
  type: controlplane
  network:
    hostname: bubbles
# ---
# apiVersion: v1alpha1
# kind: HostnameConfig
# hostname: bubbles
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: tb-blossom
selector:
  match: link.driver == "thunderbolt-net" && link.bus_path == "0-1.0"
---
apiVersion: v1alpha1
kind: LinkConfig
name: tb-blossom
up: true
mtu: 65520
addresses:
  - address: 169.254.42.22/32
routes:
  - destination: 169.254.42.21/32
    metric: 2048
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: tb-buttercup
selector:
  match: link.driver == "thunderbolt-net" && link.bus_path == "1-1.0"
---
apiVersion: v1alpha1
kind: LinkConfig
name: tb-buttercup
up: true
mtu: 65520
addresses:
  - address: 169.254.42.22/32
routes:
  - destination: 169.254.42.23/32
    metric: 2048

# vim:ft=yaml
