---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
version: v1alpha1

machine:
  type: controlplane
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: HostnameConfig
hostname: buttercup
---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - cluster
bondMode: active-backup
mtu: 9000
addresses:
  - address: 192.168.41.23/24

# vim:ft=yaml
