---
customization:
  extraKernelArgs:
    - -init_on_alloc
    - -init_on_free
    - -selinux
    - apparmor=0
    - init_on_alloc=0
    - init_on_free=0
    - mitigations=off
    - security=none
    - talos.auditd.disabled=1

# vim:ft=yaml
