{{- $base := (fromYaml (readFile (printf "../../../kubernetes/apps/%s.yaml" .Release.Name))).values }}
{{- $cluster := (index (fromYaml (readFile (printf "../../../kubernetes/clusters/%s/values.yaml" .Release.KubeContext))) .Release.Name)}}
{{- if $cluster }}
{{ mustMergeOverwrite $base $cluster | toYaml }}
{{- else }}
{{ $base | toYaml }}
{{- end }}
