{
  "storage": {
    "type": "s3",
    "config": {
      "bucket": "backup-homelab",
      "endpoint": "s3.ajgon.casa",
      "region": "eu-central-1"
    }
  },
  "caching": {
    "cacheDirectory": "/config/cache",
    "maxCacheSize": 10737418240,
    "maxMetadataCacheSize": 5368709120
  },
  "hostname": "nas",
  "username": "root",
  "description": "nas -> garage",
  "enableActions": false
}
