{
  "storage": {
    "type": "s3",
    "config": {
      "bucket": "ajgon-homelab",
      "endpoint": "s3.eu-central-003.backblazeb2.com",
      "region": "eu-central-003"
    }
  },
  "caching": {
    "cacheDirectory": "/config/cache",
    "maxCacheSize": 10737418240,
    "maxMetadataCacheSize": 5368709120
  },
  "hostname": "nas",
  "username": "root",
  "description": "nas -> backblaze b2",
  "enableActions": false
}
