{
  "storage": {
    "type": "s3",
    "config": {
      "bucket": "ajgon-homelab-backup",
      "endpoint": "s3.eu-central-003.backblazeb2.com",
      "region": "eu-central-003"
    }
  },
  "caching": {
    "cacheDirectory": "/config/cache",
    "maxCacheSize": 1073741824,
    "maxMetadataCacheSize": 2147483648
  },
  "hostname": "nas",
  "username": "root",
  "description": "nas -> backblaze b2 (monitor, read-only)",
  "readonly": true,
  "enableActions": false
}
